<div class="mermaid" style="text-align:center">

graph TD
    A[Applicant]-->|Submits a dossier|B[National Health Insurance Fund]
    B-.->|Full procedure|C[NIPN - Department for HTA]
    B-->|All procedures|E[NHIF - Department of Reimbursement]
    B-.->|Full procedure|F[Board of Medical Professionals]
    C-.->|Opinion|H
    E-->H
    F-.->|Opinion|H[Technology Assessment Committee]
    H-->|Suggestion|I[NHIF - Department of Reimbursement]
    I-.->|Proposal for decision|J[Ministry of Health]
    I-.->K[NHIF Decision]
    J-->|MoH Decision|L[Official Gazette];

classDef parhu stroke:#343a40,stroke-width:0.5px,font-style:normal,font-size:larger;
class A,B,C,D,E,F,H,I,J,K,L parhu

</div>
